.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-left {
  display: flex;
  align-items: center;
}

.hero {
  display: flex;
  align-items: center;
  gap: 40px;
  border: 2px solid black;
}

.hero-left {
  flex: 1;
}
.hero-right {
  flex: 1;
}
.hero-right img {
  width: 50%;
  height: auto;
}

li {
  list-style-type: none;
}

.heropic {
  width: 100%;
}

.cards {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  text-align: center;
}

.square {
  width: 90px;
  height: 90px;
  border: 3px solid black;
}

.card p {
  font-size: 14px;
  margin-top: 10px;
  width: 90px;
}
